@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EIRS.Admin.Models.AssessmentAndItemRollOver>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    var currentYear = DateTime.Now.Year;
    var succeedingYear = currentYear + 1;
}

<div class="row">
    <div class="col-xs-12 col-sm-7">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-lg fa-fw fa-life-saver"></i>
            Start Roll-Over
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 text-right">
        <!-- Process RollOver Button -->
        <a href="javascript:void(0);"
           class="btn btn-info"
           id="processRollOverButton"
           onclick="processRollOver(@currentYear, @succeedingYear);">
            Process RollOver
        </a>

        <!-- Loader -->
        <img id="loadingSpinner"
             src="~/Content/Images/ajax-loader/ajax-loader"
             alt="Loading..."
             style="display: none; margin-left: 10px;" />
    </div>
</div>

@using (Html.BeginForm("Index", "DataControl", FormMethod.Get))
{
    <p>
        Find by Assessment Rule Code: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TaxYear)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TaxAmount)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentItemName)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentRuleId)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentRuleCode)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentRuleName)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentAmount)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TaxYear)</td>
            <td>@Html.DisplayFor(modelItem => item.TaxAmount)</td>
            <td>@Html.DisplayFor(modelItem => item.AssessmentItemName)</td>
            <td>@Html.DisplayFor(modelItem => item.AssessmentRuleId)</td>
            <td>@Html.DisplayFor(modelItem => item.AssessmentRuleCode)</td>
            <td>@Html.DisplayFor(modelItem => item.AssessmentRuleName)</td>
            <td>@Html.DisplayFor(modelItem => item.AssessmentAmount)</td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    function processRollOver(currentYear, succeedingYear) {
        // Display confirmation dialog
        var message = `Do you wish to roll over '${currentYear}' (current year) to '${succeedingYear}' (succeeding year)?`;
        var confirmed = confirm(message);

        if (!confirmed) {
            return false;
        }

        // Show the loader
        var loader = document.getElementById("loadingSpinner");
        loader.style.display = "inline";

        // Redirect to the URL (or perform AJAX if needed)
        window.location.href = '@Url.Action("AssessmentRollOverStep1", "DataControl")';
    }
</script>
