
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EIRS.Admin.Models.ServiceBillAndItemRollOver>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ServiceIndex";
    var currentYear = DateTime.Now.Year;
    var succeedingYear = currentYear + 1;
}

<div class="row">
    <div class="col-xs-12 col-sm-7">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-lg fa-fw fa-life-saver"></i>
            Start Roll-Over
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 text-right">
        <a href="@Url.Action("ServiceBillRollOverStep1","DataControl")"
           class="btn btn-info"
           id="processRollOverButton"
           onclick="return confirmRollOverAndShowLoader(@currentYear, @succeedingYear);">
            Process RollOver
        </a>
    </div>
</div>

<div id="loader" style="display:none; text-align:center; margin-top:20px;">
    <img src="~/Content/Images/ajax-loader.gif" alt="Loading..." />
</div>

@using (Html.BeginForm("ServiceIndex", "DataControl", FormMethod.Get))
{
<p>
    Find by MDA SERVICE NAME: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TaxYear)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ServiceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MDAServiceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MDAServiceName)
        </th>
        @*<th>
                @Html.ActionLink("AssessmentItemName", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ServiceBaseAmount)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.TaxYear)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ServiceAmount)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MDAServiceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MDAServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceBaseAmount)
        </td>

    </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ServiceIndex",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    // Show loader and confirm action for Process RollOver
    function confirmRollOverAndShowLoader(currentYear, succeedingYear) {
        var message = `Do you wish to roll over '${currentYear}' (current year) to '${succeedingYear}' (succeeding year)?`;
        if (confirm(message)) {
            showLoader();
            return true; // Proceed with action
        }
        return false; // Cancel action
    }

    // Show the loader when form is submitted
    document.getElementById("searchForm").addEventListener("submit", function () {
        showLoader();
    });

    // Function to display the loader
    function showLoader() {
        document.getElementById("loader").style.display = "block";
    }
</script>
