@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EIRS.BOL.MDA_Services>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Service Bill Roll Over Step 2";
 }

<h2>Service Bill Roll Over Step 2</h2>

<div class="row">
    <div class="col-xs-12 col-sm-7">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-lg fa-fw fa-life-saver"></i>
            Continue MDA Services Roll-Over
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 text-right">
        <a href="@Url.Action("ServiceBillRollOverStep3","DataControl")"
           class="btn btn-info"
           id="processRollOverButton"
           onclick="return showLoader();">
            Final RollOver Process
        </a>
    </div>
</div>

<div id="loader" style="display:none; text-align:center; margin-top:20px;">
    <img src="~/Content/Images/ajax-loader.gif" alt="Loading..." />
</div>

@using (Html.BeginForm("ServiceBillRollOverStep2", "DataControl", FormMethod.Get))
{
    <p>
        Find by MDA SERVICE NAME: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MDAServiceCode)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MDAServiceItemName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().RuleRunID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ServiceAmount)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TaxYear)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MDAServiceCode)</td>
                <td>@Html.DisplayFor(modelItem => item.MDAServiceItemName)</td>
                <td>@Html.DisplayFor(modelItem => item.RuleRunID)</td>
                <td>@Html.DisplayFor(modelItem => item.ServiceAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.TaxYear)</td>
            </tr>
        }
    </table>
}
else
{
    <p>No records found.</p>
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ServiceBillRollOverStep2",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>
    // Function to display the loader
    function showLoader() {
        document.getElementById("loader").style.display = "block";
    }
</script>